 h2{
    color:dodgerblue;
 }
 body{
    height: 100vh;
     color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 p{
    font-size: 18px;
    color:tomato;
 }
 .card{
    width: 350px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    color: white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
 }
    .card img{
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    button{
        width: 30%;
        padding: 5px;
        background-color:red;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover{
        color: white;
        background-color:black;
    }
    